<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="cpuMenuItem" value="false" />
    <add key="mainboardMenuItem" value="false" />
    <add key="ramMenuItem" value="false" />
    <add key="fanControllerMenuItem" value="false" />
    <add key="hddMenuItem" value="false" />
    <add key="runWebServerMenuItem" value="true" />
    <add key="startMinMenuItem" value="true" />
    <add key="plotLocation" value="0" />
    <add key="loggingInterval" value="3" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>